<a href="https://colab.research.google.com/github/EazysPeazys/MinProAVD/blob/main/MinProAVD_Nabil_Daffa_Athalasyah_2409116090.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**MINI PROJECT 1**

**BUSINESS UNDERSTANDING**

Business Objective

Analisis ini bertujuan untuk memahami berbagai faktor yang memengaruhi peringkat universitas dalam QS World University Rankings 2024. Dengan analisis ini, diharapkan dapat memberikan wawasan yang bermanfaat bagi calon mahasiswa dalam memilih universitas berdasarkan kriteria tertentu, serta membantu institusi pendidikan dalam meningkatkan peringkat mereka. Selain itu, analisis ini juga bertujuan untuk mengidentifikasi tren global dalam pendidikan tinggi dengan mempertimbangkan aspek akademik, penelitian, dan tingkat internasionalisasi.

Assess Situation

Analisis ini melibatkan berbagai pemangku kepentingan, termasuk universitas dan akademisi, calon mahasiswa beserta orang tua, perusahaan yang mencari lulusan berkualitas, serta pemerintah dan pembuat kebijakan pendidikan. Sumber data utama yang digunakan berasal dari dataset QS World University Rankings, dengan berbagai faktor penentu seperti reputasi akademik, jumlah sitasi, proporsi fakultas internasional, serta aspek keberlanjutan. Namun, terdapat beberapa kendala dalam proses analisis ini, seperti data yang tidak lengkap pada beberapa kolom, termasuk Research, International Faculty, dan Sustainability Score. Oleh karena itu, diperlukan proses pembersihan dan pengolahan data agar analisis yang dilakukan lebih akurat. Selain itu, karena sebagian besar data berbentuk string, diperlukan konversi ke format numerik untuk memungkinkan analisis kuantitatif yang lebih mendalam.

Data Mining Goals

Tujuan utama dari analisis data mining ini adalah untuk mengidentifikasi universitas terbaik berdasarkan faktor-faktor utama yang memengaruhi peringkat. Selain itu, analisis ini juga bertujuan untuk mengevaluasi pola perubahan peringkat universitas dari tahun ke tahun, serta memahami hubungan antara faktor-faktor yang menentukan peringkat tersebut. Lebih jauh, analisis ini berusaha mengidentifikasi negara dengan performa terbaik dalam sektor pendidikan tinggi serta menyoroti universitas yang unggul dalam hal keberlanjutan dan penelitian internasional.

Project Plan

Proses analisis ini akan dilakukan melalui beberapa tahapan utama, yaitu:

1. Persiapan Data

- Melakukan pembersihan dataset.
- Mengonversi format data ke bentuk numerik.
- Menangani data yang tidak lengkap.

2. Eksplorasi Data

- Menganalisis distribusi universitas berdasarkan negara.
- Mengidentifikasi universitas terbaik berdasarkan berbagai faktor.
- Mengamati tren perubahan peringkat universitas dari tahun ke tahun.

3. Analisis Korelasi

- Menghitung korelasi antara faktor-faktor utama yang berkontribusi terhadap peringkat.
- Mengidentifikasi faktor yang paling berpengaruh.

4. Visualisasi Data

- Menyajikan grafik distribusi universitas berdasarkan negara.
- Memvisualisasikan hubungan antara faktor-faktor peringkat.

5. Kesimpulan dan Rekomendasi

- Merangkum temuan utama dari hasil analisis.
- Memberikan rekomendasi bagi universitas, calon mahasiswa, dan pembuat kebijakan pendidikan.

##**MINI PROJECT 2**

#DATA UNDERSTANDING

TEMA "QS World University Rankings"

SUMBER DATA KAGGLE: "https://www.kaggle.com/datasets/joebeachcapital/qs-world-university-rankings-2024/data%22"

Terdapat sebanyak 1498 Baris dan 29 Kolom.

In [46]:
import pandas as pd

file = "/content/2024 QS World University Rankings 1.1 (For qs.com) (1).csv"

df = pd.read_csv(file)
df

,2024 RANK,Institution Name,Country,SIZE,FOCUS,RES.,AGE,STATUS,Academic Reputation Score,Academic Reputation Rank,...,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE,Ranking Change,Average Reputation Score,International Score
0,1.0,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5,B,78.3,4.0,...,91.0,58.0,69.0,4.0,92.3,51.0,65.50,0.0,77.70,94.10
1,2.0,University of Cambridge,United Kingdom,L,FC,VH,5,A,78.3,3.0,...,91.0,7.0,69.0,6.0,92.3,33.0,65.50,0.0,77.70,97.90
2,3.0,University of Oxford,United Kingdom,L,FC,VH,5,A,78.3,2.0,...,91.0,1.0,69.0,3.0,92.3,26.0,65.50,1.0,77.70,97.45
3,4.0,Harvard University,United States,L,FC,VH,5,B,78.3,1.0,...,91.0,5.0,69.0,1.0,92.3,39.0,65.50,1.0,77.70,75.70
4,5.0,Stanford University,United States,L,FC,VH,5,B,78.3,5.0,...,91.0,44.0,69.0,2.0,92.3,63.0,65.50,-2.0,77.70,75.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1492,-1.0,University of Oradea,Romania,L,FC,MD,4,A,5.0,-1.0,...,1.8,-1.0,5.9,-1.0,2.2,-1.0,34.55,0.0,3.50,4.30
1493,-1.0,University of Stavanger,Norway,L,CO,VH,2,A,7.2,-1.0,...,26.3,489.0,11.7,-1.0,8.4,-1.0,34.55,0.0,6.45,11.50
1494,-1.0,"University Politehnica of Timisoara, UPT",Romania,M,FO,VH,5,A,4.0,-1.0,...,1.3,-1.0,8.5,-1.0,1.0,-1.0,34.55,0.0,3.70,2.25
1495,-1.0,Western Washington University,United States,L,CO,HI,5,A,3.8,-1.0,...,1.0,-1.0,7.3,-1.0,8.4,-1.0,34.55,0.0,3.60,7.95
1496,-1.0,ZÃ¼rcher Hochschule Winterthur,Switzerland,L,CO,VH,5,A,5.7,-1.0,...,1.7,-1.0,11.7,-1.0,8.4,-1.0,34.55,0.0,6.20,11.50

Melihat Jumlah Baris

In [44]:
df.shape

(1497, 30)

Cek Tipe Data Setiap Kolom

In [45]:
df.dtypes

2024 RANK                               float64
Institution Name                         object
Country                                  object
SIZE                                     object
FOCUS                                    object
RES.                                     object
AGE                                       int64
STATUS                                   object
Academic Reputation Score               float64
Academic Reputation Rank                float64
Employer Reputation Score               float64
Employer Reputation Rank                float64
Faculty Student Score                   float64
Faculty Student Rank                    float64
Citations per Faculty Score             float64
Citations per Faculty Rank              float64
International Faculty Score             float64
International Faculty Rank              float64
International Students Score            float64
International Students Rank             float64
International Research Network Score    float64
International Research Network Rank     float64
Employment Outcomes Score               float64
Employment Outcomes Rank                float64
Sustainability Score                    float64
Sustainability Rank                     float64
Overall SCORE                           float64
Ranking Change                          float64
Average Reputation Score                float64
International Score                     float64
dtype: object

STATISTIK DESKRIPTIF

In [47]:
df.describe()

,2024 RANK,AGE,Academic Reputation Score,Academic Reputation Rank,Employer Reputation Score,Employer Reputation Rank,Faculty Student Score,Faculty Student Rank,Citations per Faculty Score,Citations per Faculty Rank,...,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE,Ranking Change,Average Reputation Score,International Score
count,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,...,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000,1497.000000
mean,120.114228,4.014028,19.490782,119.531730,19.054876,119.841683,28.189579,159.557782,23.392318,163.876420,...,23.676754,164.255177,19.002071,159.953908,24.074683,162.941884,36.420207,-37.319305,19.272829,27.049299
std,183.958336,0.970385,20.249460,183.871109,21.484460,184.058958,26.914559,222.122884,27.025964,223.552809,...,29.737139,223.660831,17.065248,221.319596,29.747874,222.876386,9.884706,156.391907,19.895253,29.199233
min,-1.000000,1.000000,3.800000,-1.000000,2.000000,-1.000000,3.000000,-1.000000,1.300000,-1.000000,...,1.000000,-1.000000,5.100000,-1.000000,1.000000,-1.000000,22.300000,-601.000000,2.900000,1.450000
25%,-1.000000,3.000000,6.000000,-1.000000,4.100000,-1.000000,7.600000,-1.000000,2.800000,-1.000000,...,1.200000,-1.000000,8.300000,-1.000000,1.500000,-1.000000,34.550000,0.000000,5.550000,5.100000
50%,-1.000000,4.000000,10.900000,-1.000000,9.450000,-1.000000,16.700000,-1.000000,10.400000,-1.000000,...,6.900000,-1.000000,11.700000,-1.000000,8.400000,-1.000000,34.550000,0.000000,10.700000,11.600000
75%,228.000000,5.000000,23.100000,225.000000,25.500000,226.000000,41.100000,317.000000,37.500000,327.000000,...,40.300000,328.000000,22.000000,317.000000,38.400000,323.000000,34.550000,0.000000,25.450000,42.300000
max,600.000000,5.000000,78.300000,600.000000,77.100000,600.000000,92.100000,700.000000,90.200000,700.000000,...,91.000000,700.000000,69.000000,700.000000,92.300000,695.000000,65.500000,498.000000,77.700000,98.350000

#DATA PREPARATION

TEMA "QS World University Rankings"

SUMBER DATA KAGGLE: "https://www.kaggle.com/datasets/joebeachcapital/qs-world-university-rankings-2024/data%22"

Terdapat sebanyak 1498 Baris dan 29 Kolom.

In [39]:
import pandas as pd

file = "/content/2024 QS World University Rankings 1.1 (For qs.com) (1).csv"

df = pd.read_csv(file)
df

,2024 RANK,Institution Name,Country,SIZE,FOCUS,RES.,AGE,STATUS,Academic Reputation Score,Academic Reputation Rank,...,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE,Ranking Change,Average Reputation Score,International Score
0,1.0,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5,B,78.3,4.0,...,91.0,58.0,69.0,4.0,92.3,51.0,65.50,0.0,77.70,94.10
1,2.0,University of Cambridge,United Kingdom,L,FC,VH,5,A,78.3,3.0,...,91.0,7.0,69.0,6.0,92.3,33.0,65.50,0.0,77.70,97.90
2,3.0,University of Oxford,United Kingdom,L,FC,VH,5,A,78.3,2.0,...,91.0,1.0,69.0,3.0,92.3,26.0,65.50,1.0,77.70,97.45
3,4.0,Harvard University,United States,L,FC,VH,5,B,78.3,1.0,...,91.0,5.0,69.0,1.0,92.3,39.0,65.50,1.0,77.70,75.70
4,5.0,Stanford University,United States,L,FC,VH,5,B,78.3,5.0,...,91.0,44.0,69.0,2.0,92.3,63.0,65.50,-2.0,77.70,75.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1492,-1.0,University of Oradea,Romania,L,FC,MD,4,A,5.0,-1.0,...,1.8,-1.0,5.9,-1.0,2.2,-1.0,34.55,0.0,3.50,4.30
1493,-1.0,University of Stavanger,Norway,L,CO,VH,2,A,7.2,-1.0,...,26.3,489.0,11.7,-1.0,8.4,-1.0,34.55,0.0,6.45,11.50
1494,-1.0,"University Politehnica of Timisoara, UPT",Romania,M,FO,VH,5,A,4.0,-1.0,...,1.3,-1.0,8.5,-1.0,1.0,-1.0,34.55,0.0,3.70,2.25
1495,-1.0,Western Washington University,United States,L,CO,HI,5,A,3.8,-1.0,...,1.0,-1.0,7.3,-1.0,8.4,-1.0,34.55,0.0,3.60,7.95
1496,-1.0,ZÃ¼rcher Hochschule Winterthur,Switzerland,L,CO,VH,5,A,5.7,-1.0,...,1.7,-1.0,11.7,-1.0,8.4,-1.0,34.55,0.0,6.20,11.50

#MISSING VALUES

In [43]:
print((df.isna().sum() / len(df)) * 100)

2024 RANK                               0.0
Institution Name                        0.0
Country                                 0.0
SIZE                                    0.0
FOCUS                                   0.0
RES.                                    0.0
AGE                                     0.0
STATUS                                  0.0
Academic Reputation Score               0.0
Academic Reputation Rank                0.0
Employer Reputation Score               0.0
Employer Reputation Rank                0.0
Faculty Student Score                   0.0
Faculty Student Rank                    0.0
Citations per Faculty Score             0.0
Citations per Faculty Rank              0.0
International Faculty Score             0.0
International Faculty Rank              0.0
International Students Score            0.0
International Students Rank             0.0
International Research Network Score    0.0
International Research Network Rank     0.0
Employment Outcomes Score               0.0
Employment Outcomes Rank                0.0
Sustainability Score                    0.0
Sustainability Rank                     0.0
Overall SCORE                           0.0
Ranking Change                          0.0
Average Reputation Score                0.0
International Score                     0.0
dtype: float64

#DUPLICATE VALUES

In [42]:
df[df.duplicated()]

Empty DataFrame
Columns: [2024 RANK, Institution Name, Country, SIZE, FOCUS, RES., AGE, STATUS, Academic Reputation Score, Academic Reputation Rank, Employer Reputation Score, Employer Reputation Rank, Faculty Student Score, Faculty Student Rank, Citations per Faculty Score, Citations per Faculty Rank, International Faculty Score, International Faculty Rank, International Students Score, International Students Rank, International Research Network Score, International Research Network Rank, Employment Outcomes Score, Employment Outcomes Rank, Sustainability Score, Sustainability Rank, Overall SCORE, Ranking Change, Average Reputation Score, International Score]
Index: []

[0 rows x 30 columns]

#DATA REDUCTION

In [75]:
df.columns

Index(['2024 RANK', 'Institution Name', 'Country', 'Academic Reputation Score',
       'Academic Reputation Rank', 'Employer Reputation Score',
       'Employer Reputation Rank', 'Faculty Student Score',
       'Faculty Student Rank', 'Citations per Faculty Score',
       'Citations per Faculty Rank', 'International Faculty Score',
       'International Faculty Rank', 'International Students Score',
       'International Students Rank', 'International Research Network Score',
       'International Research Network Rank', 'Employment Outcomes Score',
       'Employment Outcomes Rank', 'Sustainability Score',
       'Sustainability Rank', 'Overall SCORE', 'Ranking Change',
       'Average Reputation Score', 'International Score'],
      dtype='object')

In [73]:
df.columns = df.columns.str.strip()

In [ ]:
df.colomns

In [ ]:
df.dtypes